body {
  font-family: 'Open Sans', sans-serif; }

a {
  color: #005bff; }

h1, h2, h3, h3, h5 {
  padding: 0px;
  margin: 0px; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

.phone {
  font-size: 25px; }

.logo img {
  max-width: 180px; }

a.nav-link {
  font-size: 17px; }

.navbar-menu {
  font-size: 17px;
  color: white; }

.bannder-heading {
  font-size: 56px; }

.card {
  -webkit-box-shadow: 0 10px 16px -8px #777;
          box-shadow: 0 10px 16px -8px #777; }

.card__title {
  color: black;
  font-size: 20px; }

.card-footer {
  background-color: white; }

.property-heading {
  font-size: 22px; }

.price-heading {
  font-size: 24px; }

.filter-btn-wrapper {
  width: 100%; }

.breadcrumb {
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-size: 15px; }

.breadcrumb-item a {
  color: #495c91; }

.breadcrumb-item.active {
  color: black; }

.bg-blue {
  background-color: #4d84a4; }

.btn-buy {
  width: 100%;
  color: #fff;
  background-color: #4d84a4; }
  .btn-buy:hover {
    color: #fff; }

.btn-product-buy {
  width: 150px;
  color: #fff;
  background-color: #4d84a4; }
  .btn-product-buy:hover {
    color: #fff; }

.btn-filter {
  width: 100%;
  color: #fff;
  background-color: #4d84a4; }
  .btn-filter:hover {
    color: #fff; }

.filter {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.filter-title {
  font-weight: bold; }

.filter-link {
  color: #495c91;
  border-bottom: 1px dashed #495c91;
  font-size: 17px; }
  .filter-link:hover {
    text-decoration: none;
    color: red; }

.thumbnail {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  -webkit-box-shadow: 0 10px 16px -8px #777;
          box-shadow: 0 10px 16px -8px #777; }

@media (min-width: 1200px) {
  .container {
    max-width: 1300px; }
  .col-xl-1of5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 576px) {
  .card {
    width: 80%;
    justify-content: center; }
  .phone {
    font-size: 24px; }
  .price-heading {
    font-size: 20px; }
  .bannder-heading {
    font-size: 30px; } }

@media (max-width: 760px) {
  .bannder-heading {
    font-size: 30px; } }
